<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %> <!-- Unescaped raw output with <%- %> -->
        <title>Sign-up</title>
    </head>
<body>
    <%- include('../partials/header.ejs') %>

    <%- include('../partials/nav.ejs') %>

    <div class="card w-50 mx-auto">
        <form method="post" class="card-body text-center" enctype="multipart/form-data">
            <h2 class="mb-4">Create account</h2>
            <div class="mb-3">
                <div>Name: <input type="text" name="name" placeholder="Enter your full name" required /></div>
                <% if (errors.name){ %> <div class="text-danger"><%= errors.name?.msg %></div><% } %>
            </div>
            <div class="mb-3">
                <div>Email: <input type="email" name="email" id="email" required></div>
                <% if (errors.email){ %> <div class="text-danger"><%= errors.email?.msg %></div><% } %>
            </div>
            <div class="mb-3">
                <div>Date of Birth: <input type="date" name="birth_date" id="birth_date" required></div>
                <% if (errors.birth_date){ %> <div class="text-danger"><%= errors.birth_date?.msg %></div><% } %>
            </div>
            <div class="mb-3">
                <div>
                    <label for="gender" >Gender: </label>
                    <select name="gender" id="gender" required>
                    <option value="" disabled selected>Choose your gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                    </select>
                </div>
                <% if (errors.gender){ %> <div class="text-danger"><%= errors.gender?.msg %></div><% } %>
            </div>
            <div class="mb-3">
                <div>Profile Photo: <input type="file" name="photo" id="photo"> </div>
                <% if (errors.photo){ %> <div class="text-danger"><%= errors.photo?.msg %></div><% } %>
            </div>
            <div class="mb-3">
                <div>Password: <input type="password" name="password" id="password" required></div>
                <% if (errors.password){ %> <div class="text-danger"><%= errors.password?.msg %></div><% } %>
            </div>
            <div class="mb-3">
                <div>Confirm Password: <input type="password" name="confirmPassword" id="confirmPassword" required></div>
                <% if (errors.confirmPassword){ %> <div class="text-danger"><%= errors.confirmPassword?.msg %></div><% } %>
            </div>
            <p><input type="submit" class="btn btn-dark" value="Sign Up"></p>
        </form>
    </div>
</body>
</html>