<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %> <!-- Unescaped raw output with <%- %> -->
    <body>
        <!-- -->
        <h1><%= title %> your blog</h1> <!-- Escaped output with <%= %> -->
        <div class="row">
            <%- include('./partials/nav.ejs') %>
        </div>
        <div class="row">
            <form action="/" method="post">
                <p><label for="title">Blog title</label>
                <input type="text" id="title" name="title"></p>
                <p><label for="snippet">Blog snippet</label>
                <input type="text" id="snippet" name="snippet"></p>
                <p><label for="body">Blog body</label>
                <textarea id="body"  name="body" cols="30" rows="10" placeholder="Type your blog body"></textarea></p>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>