<!DOCTYPE html>
<html>
    <head>
        <title>Add Blog Post</title>
        <%- include('./partials/head.ejs') %> <!-- Unescaped raw output with <%- %> -->
    </head>
    <body>
        <!-- -->
        <h1><%= title %> your blog</h1> <!-- Escaped output with <%= %> -->
        
        <%- include('./partials/nav.ejs') %>
        
        <%- include('./partials/form.ejs') %>
    </body>
</html>