<!DOCTYPE html>
<html>
    <head>
        <title>Express Tutorial</title>
        <%- include('./partials/head.ejs') %> <!-- Unescaped raw output with <%- %> -->
    </head>
    <body>
        <h1 class="display-5">Welcome to the homepage</h1>        
        
            <%- include('./partials/nav.ejs') %>            
        <div>
            <% if (blogs.length>0) { %> <!-- Control flow with <% %>  -->
                <h2 class="text-center mb-4">All blogs</h2>
                <div class="card w-50 mx-auto">
                    <div class="list-group list-group-flush">
                      <% blogs.forEach( (blog)=>{ %>
                        <a class="list-group-item" href="/blogs/<%= blog._id %>">
                                <h3 class="card-title"><%= blog.title %></h3>
                                <p class="card-text"><%= blog.snippet %></p>
                        </a>
                            <% }) 
                        %>
                    </div>
                </div>
            <% }
            else { %>
                <p>No blogs to display...</p>
            <% } %>

        </div>
    </body>
</html>